#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
}

.size_form {
  margin: 8px;
  place-self: center;
}

.form_underlayer {
  min-width: 450px;
  display: flex;
  place-content: center;
  height: 100%;
}